extends layout

block content
    
    .row.justify-content-center
        .col-sm-6
            legend New Pet
            form(action=`/pets/${pet._id}?_method=PUT`, method="POST")
                .form-group
                    label Name
                    input.form-control(name="name" required)
                .form-group
                    label Species
                    input.form-control(name="species" required)
                .form-group
                    label Avatar*
                    input.form-control(name="avatar" type="file" required)  
                .form-group
                    label Birthday
                    input.form-control(name="birthday" type="date" required)
                .form-group
                    label Favorite Food
                    input.form-control(name="favoriteFood" required) 
                .form-group
                    label Price
                    input.form-control(name="price" required type="number")
                .form-group
                    label Description
                    textarea.form-control(name="description" required minlength="140") 
                button(type="submit").btn.btn-primary Save
            .text-right
                form(action=`/pets/${pet._id}?_method=DELETE`, method="POST")
                    button(type="submit").btn.btn-danger Remove
